<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Form Examples</title>
</head>
<body>
    <h1>Template Driven Form Example</h1>
    <p>First Name: <input type="text"></p>
    <p>Last Name: <input type="text"></p>
    <button>Set First Name Programatically</button>
    <button>Clear First Name Programatically</button>
    <p>Output: <span></span></p>

    <h1>Reactive Form Example</h1>
    <p>First Name: <input type="text"></p>
    <p>Last Name: <input type="text"></p>
    <button>Set First Name Programatically</button>
    <button>Clear First Name Programatically</button>
    <p>Output: <span></span></p>
</body>
</html>